.checkout-thumb {
    max-width: 100px;
}


.bodywrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .bodywrapper {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .bodywrapper {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .bodywrapper {
        width: 1170px;
    }
}

.orderStatus {
    padding: 10px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.successIcon {
    color: #43AC6A;
}
