@model FitnessTech.ViewModels.BMRViewModel

@{
    ViewData["Title"] = "BMRCalculator";
}



<div class="container">
    <h2>BMR Calculator</h2>
    <hr />
    <div class="col-md-6">
        <div class="row well">
            <div class="col-md-12">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Height" class="control-label"></label>
                        <input asp-for="Height" class="form-control" placeholder="cm" />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight" class="control-label"></label>
                        <input asp-for="Weight" class="form-control" placeholder="kg" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control"
                                asp-items="Html.GetEnumSelectList<Gender>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p class="well">
            <b>What is BMR?</b>
            <br />
            This minimum number of calories to live is called the basal metabolic rate (BMR).
            Your BMR is the number of calories your organs need to function while you perform no activity whatsoever.
            You can think of it as the amount of energy you'd burn if you stayed in bed all day.
            <br />
            <br />
            BMR is based largely on involuntary functions like breathing and pumping blood,
            changes in your day-to-day activity don't do much to raise or lower this number. However, increasing muscle
            mass does increase BMR, because it takes more energy to maintain more muscle.
        </p>

    </div>
    <div class="col-md-6">
        @if (ViewBag.Result > 0)
        {
            <div class=" well container-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>
                        Your estimated BMR is: @ViewBag.Result
                    </h4>
                </div>
            </div>
        }
    </div>
</div>
