
@{
    ViewData["Title"] = "NutritionIndex";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive img-rounded" src="~/images/nutritionBanner.png" alt="nutrition banner" />
            </div>            
        </div>
        <div class="col-md-3">
            <p class="lead">Fitness Calculators</p>
            <div class="list-group">
                <a href="~/BMRCalculator" class="list-group-item ">BMR Calculator</a>
                <a href="~/TDEECalculator" class="list-group-item ">TDEE Calculator</a>
                <a href="~/MacroCalculator" class="list-group-item ">Macro Calculator</a>
            </div>
        </div>

        <div class="col-md-3">
            <p class="lead">Get Healthy</p>
            <div class="list-group">
                <a href="~/nutrition/SearchFood" class="list-group-item ">Food database</a>

            </div>
        </div>

    </div>
</div>

<div class="container">
    <!-- Heading Row -->
    <div class="row">

        <!-- /.col-md-8 -->
        <div class="col-md-12">
            <h1>Nutrition</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
                Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
            </p>
            <a class="btn btn-primary btn-lg" href="#">Read more</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                See our latest articles
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>BMI Calculator</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-primary" href="~/BMRCalculator">See more</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>TDEE Calculator</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-primary" href="~/TDEECalculator">See more</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Macro Calculator</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-primary" href="~/MacroCalculator">See more</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Learn About Nutrition</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-primary" href="~/nutrition/SearchFood">See more</a>
        </div>
    </div>
</div>
