body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 70%;
        /*margin-bottom: 20px;*/
        /*padding-bottom: 5px;*/
        padding-top: 10px;
        margin-left: 35px;
        width: auto;
    }

.custom-bullet li {
    display: block;
}

    .custom-bullet li:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
        color: #CCCCCC;
    }

.well {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 5px;
    margin: 10px;
}

.thumbnail {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6, strong {
    color: #2DB1FE;
}

img {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.full-width-image {
    height: 300px;
    background: url('../images/weightsbanner.jpeg');
    background-size: cover;
    margin-top: -10px;
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.btn.btn-primary {
    background-color: #33B1F0 !important;
}

b {
    color: #33b1f0 !important;
}

p.lead {
    color: #33b1f0 !important;
}

.btn {
    border: none !important;
    border-radius: 5% !important;
}
