@model FitnessTech.Models.WorkoutProgram

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />
<div class="row well">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkoutProgramName" class="control-label"></label>
                <input asp-for="WorkoutProgramName" class="form-control" />
                <span asp-validation-for="WorkoutProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutProgramDescription" class="control-label"></label>
                <input asp-for="WorkoutProgramDescription" class="form-control" />
                <span asp-validation-for="WorkoutProgramDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutAssigments" class="control-label"></label>
                <table>              
                    <tr>
                    @{
                        int cnt = 0;
                        List<AssignedWorkoutData> workouts = ViewBag.Workouts;

                        foreach (var workout in workouts)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @: </tr> <tr>
                            }
                            @: <td>
                            <input type="checkbox"
                                   name="selectedWorkouts"
                                   value="@workout.WorkoutId"
                                   @(Html.Raw(workout.Assigned ? "checked=\"checked\"" : ""))/>
                            
                            @: @workout.WorkoutName
                            @:</td>
                        }
                        @: </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

