@model FitnessTech.ViewModels.WorkoutProgramViewModel

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutProgramName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutProgramDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutProgramDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkoutProgramId" />
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
