@using FitnessTech.Data.Helpers
@model FitnessTech.ViewModels.ExerciseViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <hr />
    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 style="text-align: center">Create</h2>

                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ExerciseName" class="control-label"></label>
                        <input asp-for="ExerciseName" class="form-control"/>
                        <span asp-validation-for="ExerciseName" class="text-danger"></span>
                    </div>
                    <div class="form-group textbox">
                        <label asp-for="ExerciseDescription" class="control-label"></label>
                        <textarea asp-for="ExerciseDescription" class="form-control" style="overflow:auto;resize:vertical" rows="5"></textarea>
                        <span asp-validation-for="ExerciseDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Equipment" class="control-label"></label>
                        <input asp-for="Equipment" class="form-control"/>
                        <span asp-validation-for="Equipment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MuscleGroup" class="control-label"></label>
                        <select asp-for="MuscleGroup" class="form-control"
                                asp-items="Html.GetEnumSelectList<MuscleGroup>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="MuscleGroup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <select asp-for="Level" class="form-control"
                                asp-items="Html.GetEnumSelectList<Level>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mechanics" class="control-label"></label>
                        <select asp-for="Mechanics" class="form-control"
                                asp-items="Html.GetEnumSelectList<Mechanics>()">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Mechanics" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvatarImage" class="control-label"></label>
                        <input asp-for="AvatarImage" type="file" multiple class="form-control"/>
                        <span asp-validation-for="AvatarImage" class="text-danger"></span>
                    </div>


                    <div class="form-group text-center">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
           
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
