<h4>Shopping Cart</h4>
<div>Items: {{data.order.items.length}}</div>
<div>Subtotal: {{data.order.subtotal}}</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>#</td>
            <td>NOK</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{o.productCategory}} - {{o.productTitle}}</td>
            <td>{{o.quantity}}</td>
            <td>{{o.unitPrice | currency:"NOK":"code"}}</td>
            <td>{{(o.unitPrice * o.quantity) | currency:"NOK":"code"}}</td>
        </tr>
    </tbody>
</table>
