<style>
    img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
</style>

@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}


<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/pt1.jpg" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/pt2.jpg" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/pt3.jpg" alt="">
            <h3>
                John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
    </div>
    <hr />

</div>

<section id="contact" class="content-section text-center">
    <div class="contact-section">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Name">Your name:</label>
                            <input asp-for="Name" class="form-control" placeholder="Jane Doe" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Your email:</label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="jane.doe@example.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Description">Your message:</label>
                            <textarea asp-for="Description" class="form-control" placeholder="Your message"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"> <span class="network-name">Send Message</span></i></button>
                            <div class="text-success">@ViewBag.Message</div>
                        </div>

                    </form>
                    <hr>
                    <h3>Our Social Sites</h3>
                    <ul class="list-inline">
                        <li><a href="#" class="btn btn-primary"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                        <li><a href="#" class="btn btn-primary"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                        <li><a href="#" class="btn btn-primary"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}