<style>
   
</style>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="thumbnail">
        <img src="~/images/banner.JPG"  alt="banner"/>
        <div class="caption">
            <h3>About Fitness Tech</h3>
            <p> We are your personal trainer, your nutritionist, your supplement expert, your lifting partner, your support group.
            <br/>We provide the technology, tools, and products you need to burn fat, build muscle, and become your best self.</p>
            <p>
                <a href="~/Home/Contact" class="btn btn-primary">See more</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/images/food.png" alt="nutrition" />
                <div class="caption">
                    <h3>Nutrition</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="~/Nutrition" class="btn btn-primary">More Info</a> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/images/workout.jpeg" alt="workout" />
                <div class="caption">
                    <h3>Training</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="~/Training" class="btn btn-primary">More Info</a> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/images/gym.jpeg" alt="gym"/>
                <div class="caption">
                    <h3>Community</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="~/Community" class="btn btn-primary">More Info</a> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/images/measure.jpeg" alt="measure" />
                <div class="caption">
                    <h3>Calculators</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="~/Nutrition" class="btn btn-primary">More Info</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
