@model FitnessTech.ViewModels.WorkoutTypeViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <hr/>

    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 style="text-align: center">@Html.DisplayFor(model => model.WorkoutTypeName)</h2>
            <br/>
            @Html.DisplayFor(model => model.WorkoutTypeDescription)

            <div>
                <br/>

                <a asp-action="Edit" asp-route-id="@Model.WorkoutTypeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.WorkoutTypeId">Delete</a>
            </div>
        </div>
    </div>


</div>
