@using FitnessTech.Data.Entities
@model FitnessTech.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 style="text-align: center">Delete</h2>
                <p style="text-align: center">Are you sure you want to delete member @Html.DisplayFor(model => model.FirstName)?</p>
                <div class="form-group text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-primary" /> |
                        <a asp-action="Index">Cancel</a>
                    </form>
                </div>

            </div>


        </div>
    </div>




</div>
